/* Normalize */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/* Variables */
:root {
    --color-dark: #2F2E2E;
    --color-grey: #48555B;
    --color-white: #fff;
}
/* Overall Width */
.container {
    max-width: 1245px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width:1245px) {
    .container {
        padding: 0 10px;
    }
}
/* Header */
header {
    height: 144px;
    position: sticky;
    background-color: #fff;
    top: 0px;
    z-index: 2;
}
.header__flex {
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-h {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    padding-right: 60px;
}

.header__logo a {
    text-decoration: none;
    color: var(--color-dark);
}
.header__nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 106px;
}
.header__nav-a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark);
}
.header__nav-a :hover {
    font-weight: 900;
}
.header__burger {
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
}
.header__burger-line {
    width: 40px;
    height: 4px;
    background-color: var(--color-dark);
    margin-bottom: 5px;
}
.header__burger-line :last-child {
    margin-bottom: 0;
}
@media screen and (max-width:1060px) {
    .header__nav {
        display: none;
    }
    .header__burger {
        display: block;
        padding-top: 20px;
    }
    header {
        height: 84px;
    }
    .header__flex {
        margin: 17px 0;
        height: 50px;
    }
}
/* part-1 */
.part-1 {
    background-image: url(../img/Header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 739px;
}
.part-1__text {
    max-width: 436px;
    width: 100%;
    padding-top: 233px;
}
.part-1__text-h2 {
    font-family: 'Playfair Display';
    font-size: 51px;
    line-height: 60px;
    color: var(--color-dark);
}
.part-1__text-h3 {
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 39px;
    color: var(--color-grey);
}
@media screen and (max-width:430px) {
    .part-1__text {
        padding-top: 191px;
    }
}
/* services */
.services {
    background-color: #254d4d46;
}
.services__h {
    font-family: 'Playfair Display';
    font-size: 51px;
    line-height: 60px;
    text-align: center;
    color: #2F2E2E;
    padding-top: 18px;
}
.secvices__grig {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 45px;
    padding-bottom: 65px;
}
.services__grid-item {
    width: 158px;
    align-items: center;
}
.services__grid-item-img {
    width: 103px;
    height: 103px;
    margin: 0 auto;
    display: block;
}
.services__grid-item-h {
    font-family: 'Playfair Display';
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #2F2E2E;
    margin: 0;
}
.services__grid-item-p {
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2F2E2E;
}
